# Copy this to .env.dev, .env.staging, or .env.production and fill in values
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=
EXPO_PUBLIC_SUPABASE_PHONE_AUTH_URL=
EXPO_PUBLIC_API_URL=